body {
  font-family: "Helvetica", "Arial", sans-serif;
  display: grid;
  grid-template-areas:
    "nav"
    "content";
  color: #121f1f;
  background-color: #fefbf7;
}

header {
  font-size: 1.5em;
}

nav {
  grid-area: nav;
}

.nav-link {
  margin-top: 1em;
}

a:link {
  text-decoration: none;
  color: #202020;
}

a:visited {
  color: #66a6a6;
}

a:hover {
  color: #467979;
  font-weight: bold;
}

main {
  grid-area: content;
}

.code-block {
  display:block;
  white-space: pre;
  line-height: 1.5;
  background-color: #d9d9d9;
  border-radius:5px;
  border: 2px #808080;
  border-style: dashed solid;
  margin: 0 2em 2em 1.5em;
}


@media (min-width: 750px) {
  body {
    grid-template-columns: 300px 1fr;
    grid-template-areas:
      "nav content";
  }

  nav {
    position: fixed;
  }

  .nav-link {
    display: block;
  }
}
