body {
  font-family: "Helvetica", "Arial", sans-serif;
  display: grid;
  grid-template-areas:
    "nav"
    "content";
  color: #121f1f;
  background-color: #fefbf7;
}

header {
  font-style: bold;
  font-size: 1.5em;
}

nav {
  grid-area: nav;
}

.nav-link {
  margin-top: 1em;
}

a:link {
  text-decoration: none;
  color: #202020;
}

a:visited {
  color: #345959;
}

a:hover {
  color: #599999;
  font-weight: bold;
}

main {
  grid-area: content;
}

@media (min-width: 750px) {
  body {
    grid-template-columns: 300px 1fr;
    grid-template-areas:
      "nav content";
  }

  nav {
    position: fixed;
  }

  .nav-link {
    display: block;
  }
}
